@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

:root {
    --secondary: #fcfcfc;
}

body {
    background-color: var(--secondary);
}